.aboutCard {
  width: 875px;
  transform: translate(50%, 0%);
  padding: 10px;
}

.profileImage {
  border-radius: 25px;
}

.profileImageDiv {
  margin: auto;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60%;
}

.skillsButton {
  font-size: 25px;
  margin: 5px;
  color: #000000;
  background-color: #d3dce3;
  pointer-events: none;
}

.honorsCard {
  margin-bottom: 10px;
  background-color: #d3dce3;
}

.descriptionText {
  font-size: 1.3rem;
  font-weight: 700;
  color: #253d4b;
}

@media (max-width: 500px) {
  .descriptionText {
    font-size: 0.9rem;
    font-weight: 500;
  }
}

h1 {
  font-size: 75px;
  color: #507991;
}

h2 {
  color: #253d4b;
}

a {
  color: #253d4b;
}

#float {
  position: relative;
  -webkit-animation: floatBubble 1.5s;
  animation: floatBubble 1.5s;
}

#float2 {
  position: relative;
  -webkit-animation: floatBubble 2s;
  animation: floatBubble 2s;
}

@-webkit-keyframes floatBubble {
  0% {
    top:500px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes floatBubble {
  0% {
    top:500px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}